#button1{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: skyblue;
    
}
#button2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: skyblue;
}
